{% set routeName = app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-light bg-lighter">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <i class="fas fa-book-open"></i>
            Ressources book
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if routeName == 'app_home' %}active{% endif %}" href="{{ path('app_home') }}">Home</a>
                </li>


                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link {% if routeName == 'app_login' %}active{% endif %}"
                           href="{{ path('app_login') }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownA" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownA">
                            <li><a class="dropdown-item" href="{{ path('article_new') }}">New article</a></li>
                            <li><hr class="dropdown-divider"></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownC" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownC">
                            <li><a class="dropdown-item" href="{{ path('category_new') }}">New Category</a></li>
                            <li><a class="dropdown-item" href="{{ path('category_index') }}">Category List</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
